<% @blog.posts.each do |post| %>
  <div class="blog-post">
  <h2><%= link_to post.title, post %></h2>
  <p><%= Sanitize.clean(post.content, Sanitize::Config::RELAXED).html_safe %></p>
  <p><i>Last updated: <%= post.updated_at.localtime %></i></p>
  <% if current_user == @blog.user %>
    <p><%= link_to "Edit this post", edit_post_path(post) %>
      <%= link_to "Delete this post", post, method: :delete, remote: true, data: { confirm: "Delete this post?" } %>
    <% if post.comments_allowed %>
      <%= link_to "Disable Comments", toggle_comments_post_path(post) %>
    <% else %>
      <%= link_to "Enable Comments", toggle_comments_post_path(post) %>
    <% end %> 
    </p>
  <% end %>
  </div>
<% end %>
