<h2>Blog Title: <%= @blog.title %></h2>
<%= image_tag @blog.logo.url(:medium) %>
<% if user_signed_in? && current_user != @blog.user %>
  <% if current_user.subscribed?(@blog) %>
    <p><%= link_to "Unsubscribe", subscriptions_destroy_path(blog_id: @blog.id) %></p>
  <% else %>
    <p><%= link_to "Subscribe to Blog", subscriptions_create_path(blog_id: @blog.id) %></p>
  <% end %>
<% end %>
<% if current_user == @blog.user %>
  <p><%= link_to "Edit Blog", edit_blog_path(@blog) %> 
  <%= link_to "Delete Blog", @blog, method: :delete, data: { confirm: "Delete this blog?" } %>
  <% if @blog.comments_allowed %>
    <%= link_to "Disable Comments", toggle_comments_blog_path(@blog) %>
  <% else %>
    <%= link_to "Enable Comments", toggle_comments_blog_path(@blog) %>
  <% end %> 
  </p>
  <p><%= link_to "Create new post", new_blog_post_path(@blog) %>
<% end %>
<%= render 'blogs/posts' %>
