<h2>Account Details:</h2>
<p>Username: <%= @user.username %></p>
<% if current_user == @user %>
	<p>Email: <%= @user.email %></p>
	<p><%= link_to "Edit Account", edit_user_registration_path %>
	<h2>Blogs:</h2>
	<p><%= link_to "Create new blog", new_user_blog_path(@user) %>
<% else %>
	<h2>Blogs:</h2>
<% end %>
<%= render 'users/blogs' %>
