<h2>Post Title: <%= @post.title %></h2>
<p><%= Sanitize.clean(@post.content, Sanitize::Config::RELAXED).html_safe %></p>
<p><%= link_to "Back to blog", @post.blog %>
<h3>Comments:</h3>
<%= button_tag "Toggle Comments" %>
<% if @post.blog.comments_allowed %>
  <% if @post.comments_allowed %>
    <%= render 'posts/comment_form', post: @post %>
  <% end %>
<% end %>
<%= render 'posts/comments' %>
