<h2>Post Title: <%= @post.title %></h2>
<p><%= @post.content %></p>
<p><%= link_to "Back to blog", @post.blog %>
<h3>Comments:</h3>
<p><%= link_to "Create new comment", new_post_comment_path(@post) %>
<%= render 'posts/comments' %>
