<h2>Post Title: <%= @post.title %></h2>
<p><%= Sanitize.clean(@post.content, Sanitize::Config::RELAXED).html_safe %></p>
<p><%= link_to "Back to blog", @post.blog %>
<h3>Comments:</h3>
<%= button_tag "Toggle Comments", id: "toggle-comments" %>
<% if @post.blog.comments_allowed %>
  <% if @post.comments_allowed %>
    <%= button_to "New Comment", new_comment_form_path(post_id: @post), id: "new-comment", remote: true %>
    <%# render 'posts/comment_form', post: @post %>
  <% end %>
<% end %>
<%= render 'posts/comments' %>
